#app {
    font-family: 'Schoolbell', cursive;
    /* font-size: 1.5em; */
    background-color: #ffffff;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: rgba(27, 37, 116, 0.6);
}

/* 

    Color schemes:
    1. {
        yellow: #fdfcdc background-color:
        blue: #0081a7
        aqua: #00afb9
        beige: #fed9b7
        reddish: #f07167
    }
    2. {
        black: #353535
        green: #3c6e71
        white: #ffffff background-color:
        grey: #d9d9d9
        darkBlue: #284b63
*/
